@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 50% 95%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 50% 95%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 174 44% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 30% 85%;
    --secondary-foreground: 174 44% 30%;
    --muted: 60 25% 88%;
    --muted-foreground: 20 9% 38%;
    --accent: 0 82% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 25% 80%;
    --input: 60 25% 85%;
    --ring: 174 44% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 56% 91%;
    --card: 20 14.3% 6.1%;
    --card-foreground: 60 56% 91%;
    --popover: 20 14.3% 6.1%;
    --popover-foreground: 60 56% 91%;
    --primary: 174 44% 51%;
    --primary-foreground: 174 44% 10%;
    --secondary: 174 20% 15%;
    --secondary-foreground: 60 56% 91%;
    --muted: 174 20% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 0 82% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 20% 15%;
    --input: 174 20% 15%;
    --ring: 174 44% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
